// Garden Harmony fonts

// Headlines and titles and nav
$title-font: 'Patua One', cursive;

// Sidebar text
$side-font: 'Alegreya Sans', sans-serif;

// Body and footer
$body-font: 'IM Fell DW Pica', serif;
