@import "../bower_components/foundation/scss/foundation";
@import "fonts";
@import "colors";
@import "homepage";

// Global
body {
}

// Links

a {
    color: $dark-tan;
}

a:hover {
    color: darken($dark-tan, 20%)
}

// Navigation

#branding-nav-container {
    @media #{$medium-up} {
        padding-bottom: 25px;
    }
}

nav[role='navigation'] {
    background-color: white;
    .logo {
        letter-spacing: 0.20rem;
        font-family: $title-font;
        text-transform: uppercase;
        font-size: $h3-font-size;
        @media #{$medium-up} {
            font-size: $h3-font-size;
        }
        a {
            text-align: center;
            color: $dark-tan;
            width: 100%;
            @media #{$medium-up} {
                text-align: inherit;
                width: inherit;
            }
        }
        a:hover {
            color: darken($dark-tan, 20%)
        }
    }
}

// Footer

#footer {
    font-family: $body-font;
    background-color: $tan;
    padding-top: 25px;
    padding-bottom: 25px;
    p {
        font-size: 0.75rem;;
        @media #{$medium-up} {
            font-size: 1rem;
        }
    }
    p:first-of-type {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}
