@import "../bower_components/foundation/scss/foundation";
@import "fonts";
@import "colors";
@import "homepage";

// Global
body {
}

a {
    color: $dark-tan;
}

.logo {
    font-family: $title-font;
    padding: 10px 0px;
}

#footer {
    font-family: $body-font;
    background-color: $tan;
    padding-top: 25px;
    padding-bottom: 25px;
    p {
        font-size: 0.75rem;;
        @media #{$medium-up} {
            font-size: 1rem;
        }
    }
    p:first-of-type {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}
