// Homepage-specific styles

#intro-copy {
    margin-top: 15px;
    h2 {
        font-family: $title-font;
        font-size: $h4-font-size;
    }
    p, li {
        font-family: $body-font;
    }
}
