// Homepage-specific styles

#intro-copy {
    margin-top: 15px;
    margin-bottom: 15px;
    h2 {
        font-family: $title-font;
        font-size: $h4-font-size;
        text-transform: uppercase;
    }
    h3 {
        font-family: $title-font;
        font-size: $h5-font-size;
        text-transform: uppercase;
    }
    p, li, address {
        font-family: $body-font;
    }
}
